
lib/hapmap3/*
lib/KDE_data/*
lib/1KG/*
testing/*
__pycache__/
output/*/
input/*/
alyssa/*
example_data/
compadre_testing.ipynb

#vscode specific folders
.vscode/

#mac specific folders
__MACOSX/

#test output folders
*test_output*/
